<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GPA计算指南</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Bootstrap -->
    <link href="http://buaahelper.com/static/img/favicon.ico" rel="SHORTCUT ICON" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/gpa.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-static-top navbar-gpa"  role="banner">
      <div class='container'>
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://buaahelper.com">BuaaHelper</a>
      </div>
      <nav  class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class='active'>
            <a href="http://gpa.buaahelper.com/">GPA</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
    <div class='container'>
      <div class="jumbotron">
          <div class='jleft'>
            <img src="/static/img/gpa.jpg" class="img-thumbnail">
          </div>
          <div class='jright'>
            <h2>北航GPA计算工具</h2>
            <p>...</p>
            <p>请按照以下步骤使用</p>
          </div>
      </div>
        <hr>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>
              <h3>新教务使用方法</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="row col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success">
                  <strong>视频教程：<a href="http://v.youku.com/v_show/id_XNjE4MzM2NTk2.html" target="_blank">点我播放</a>。记得选择“超清”哦~</strong>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class='col-lg-6'>
                <div class='alert alert-info'>
                  <p>1.请将右侧的链接右键“添加为书签”或“添加到收藏夹”（chrome请手动复制链接添加书签）。</p>
                </div>
              </div>
              <div class='col-lg-6'>
                        <h4><a class='link' href="javascript:%20(function(){%20%20var%20getGrade=document.createElement('script');%20getGrade.type='text/javascript';%20getGrade.src='http://gpa.buaahelper.com/static/js/getGrade.js';%20document.documentElement.appendChild(getGrade);%20})();">GPA计算</a></h4>
              </div>
            </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>2.打开 <a style="color:#f00;" href="http://202.112.132.147:7001/ieas2" target="_blank">北航新教务系统</a>，并登陆。</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>3.点开刚才添加的书签，将会出现以下载入画面，之后请稍等。</p>
                <h5>PS:如果没有出现以下画面，请刷新再次点开书签,最好在教务稳定时使用。</h5>
              </div>
            </div>
                  </div>
                  <div class="row center">
            <div class='col-lg-12'>
              <img src="/static/img/loading.jpg" class="img-thumbnail">
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>4.成绩信息检索完成后将会跳转到以下页面，请勾选需要计算的课程，点击最下方按钮计算。如下图</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <img src="/static/img/Gpa_calculate.jpg" class="img-thumbnail">
            </div>
                  </div>
                  </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>
              <h3>正方教务使用方法</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="row col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success">
                  <strong>视频教程：<a href="http://v.youku.com/v_show/id_XNjE4MzM2NTk2.html" target="_blank">点我播放</a>。记得选择“超清”哦~<h5>PS:视频教程中使用的新教务，不过基本步骤是一样的（做视频很累的，给我体谅一下啊 ヽ(#`Д´)ﾉ  ）。</h5></strong>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class='col-lg-6'>
                <div class='alert alert-info'>
                  <p>1.请将右侧的链接右键“添加为书签”或“添加到收藏夹”（chrome请手动复制链接添加书签）。</p>
                </div>
              </div>
              <div class='col-lg-6'>
                        <h4><a class='link' href="javascript:%20(function(){%20%20var%20getGrade=document.createElement('script');%20getGrade.type='text/javascript';%20getGrade.src='http://gpa.buaahelper.com/static/js/getGrade.js';%20document.documentElement.appendChild(getGrade);%20})();">GPA计算</a></h4>
              </div>
            </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>2.打开 <a style="color:#f00;" href="http://124.205.18.175/" target="_blank">正方教务系统</a>，并登陆。</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>3.点击“信息查询”——“成绩查询2”，然后在左上角的“学年”和“学期”处选择“全部”，如<img src="/static/img/zf.png" class="img-thumbnail"><br>所示，然后点击查询按钮。</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>4.点开刚才添加的书签，之后请稍等。</p>
                <h5>PS:如果很长时间没有反应，请重复第2~4步,最好在教务稳定时使用。</h5>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>5.成绩信息检索完成后将会跳转到以下页面，请勾选需要计算的课程，点击最下方按钮计算。如下图</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <img src="/static/img/Gpa_calculate.jpg" class="img-thumbnail">
            </div>
                  </div>
                  </div>
          </div>
        </div>


        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>
              <h3>研究生教务使用方法</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="row col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success">
                  <strong>视频教程：<a href="http://v.youku.com/v_show/id_XNjE4MzM2NTk2.html" target="_blank">点我播放</a>。记得选择“超清”哦~<h5>PS:视频教程中使用的新教务，不过基本步骤是一样的（做视频很累的，给我体谅一下啊 ヽ(#`Д´)ﾉ  ）。</h5></strong>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class='col-lg-6'>
                <div class='alert alert-info'>
                  <p>1.请将右侧的链接右键“添加为书签”或“添加到收藏夹”（chrome请手动复制链接添加书签）。</p>
                </div>
              </div>
              <div class='col-lg-6'>
                        <h4><a class='link' href="javascript:%20(function(){%20%20var%20getGrade=document.createElement('script');%20getGrade.type='text/javascript';%20getGrade.src='http://gpa.buaahelper.com/static/js/getGrade.js';%20document.documentElement.appendChild(getGrade);%20})();">GPA计算</a></h4>
              </div>
            </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>2.打开 <a style="color:#f00;" href="http://gsmis.graduate.buaa.edu.cn/gsmis/main.do" target="_blank">研究生教务系统</a>，并登陆。</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>3.点击“学生课程管理”——“学生选课”，然后点击左侧的“学生查看已选课程”，此时屏幕上应该会显示你的所有成绩。</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>4.点开刚才添加的书签，之后请稍等。</p>
                <h5>PS:如果很长时间没有反应，请重复第2~4步,最好在教务稳定时使用。</h5>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <div class='alert alert-info'>
                <p>5.成绩信息检索完成后将会跳转到以下页面，请勾选需要计算的课程，点击最下方按钮计算。如下图</p>
              </div>
            </div>
                  </div>
                  <div class="row">
            <div class='col-lg-12'>
              <img src="/static/img/Gpa_calculate.jpg" class="img-thumbnail">
            </div>
                  </div>
                  </div>
          </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>
        Designed and built by <a href="mailto:buaa.liangjie@gmail.com">liangjie</a> and <a href="mailto:daishumaohehe@gmail.com">NatsuDawn</a> 
        </p>
      </div>
    </footer>
{% include 'advices.html' %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44643957-1', 'buaahelper.com');
  ga('send', 'pageview');

</script>

  </body>
</html>

