    <!DOCTYPE html>
    <html>
    <head>
    <title>北航专用gpa计算器</title>
    <link href="http://buaahelper.com/static/img/favicon.ico" rel="SHORTCUT ICON" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="/static/css/gpa.css" rel="stylesheet">
    <script src="/static/js/makecsrf.js"></script>
    </head>
    <body>
        <script type="text/javascript">
        var paramaters = [
            {whether_tongguo:1,tongguo:3.3,butongguo:0,zhong:2.0,liang:3.0,you:4.0,jige:2.0,bujige:0,fenshuduan:[[0,59,0],[60,69,2.0],[70,84,3.0],[85,100,4.0]],modal_name:"buaagpa",info_name:"info_buaa"},
            {whether_tongguo:0,zhong:2.0,liang:3.0,you:4.0,jige:1.0,bujige:0,fenshuduan:[[0,59,0],[60,69,1.0],[70,79,2.0],[80,89,3.0],[90,100,4]],modal_name:"standgpa",info_name:"info_stand"},
            {whether_tongguo:1,tongguo:4.0,butongguo:0,zhong:2.0,liang:3.0,you:4.0,jige:1.0,bujige:0,fenshuduan:[[0,59,0],[60,63,1.0],[64,67,1.5],[68,71,2.0],[72,74,2.3],[75,77,2.7],[78,81,3.0],[82,84,3.3],[85,89,3.7],[90,100,4]],modal_name:"beidagpa",info_name:"info_beida"},
            {whether_tongguo:0,zhong:2.7,liang:3.7,you:4.3,jige:1.5,bujige:0,fenshuduan:[[0,59,0],[60,60,1.0],[61,63,1.3],[64,64,1.5],[65,67,1.7],[68,71,2.0],[72,74,2.3],[75,77,2.7],[78,81,3.0],[82,84,3.3],[85,89,3.7],[90,94,4.0],[95,100,4.3]],modal_name:"kedagpa",info_name:"info_keda"},
            {whether_tongguo:0,zhong:3.0,liang:3.7,you:4.3,jige:2,bujige:0,fenshuduan:[[0,59,0],[60,61,1.0],[62,64,1.7],[65,66,2.0],[67,69,2.3],[70,74,2.7],[75,79,3.0],[80,84,3.3],[85,89,3.7],[90,94,4.0],[95,100,4.3]],modal_name:"jiaodagpa",info_name:"info_jiaoda"},
            {whether_tongguo:0,zhong:3.0,liang:4,you:4,jige:2,bujige:0,fenshuduan:[[0,59,0],[60,69,2.0],[70,84,3.0],[85,100,4.0]],modal_name:"gaijin1gpa",info_name:"info_gaijin1"},
            {whether_tongguo:0,zhong:3.0,liang:4,you:4,jige:2,bujige:0,fenshuduan:[[0,59,0],[60,74,2.0],[75,84,3.0],[85,100,4.0]],modal_name:"gaijin2gpa",info_name:"info_gaijin2"},
        ];
        var xuefen = new Array();
        var jidian = new Array();
        var all_xuefen = new Array();
        var all_jidian = new Array();
        var jidian_2 = new Array();
        var count = 0;

        function generate_info(){
            for (var all_al in paramaters){
                if (paramaters[all_al].whether_tongguo == 1){
                    $("#" + paramaters[all_al].info_name).append("<li>" + "通过：" + paramaters[all_al].tongguo + "</li>");
                    $("#" + paramaters[all_al].info_name).append("<li>" + "不通过：" + paramaters[all_al].butongguo + "</li>");
                }
                $("#" + paramaters[all_al].info_name).append("<li>" + "不及格：" + paramaters[all_al].bujige + "</li>");
                $("#" + paramaters[all_al].info_name).append("<li>" + "及格：" + paramaters[all_al].jige + "</li>");
                $("#" + paramaters[all_al].info_name).append("<li>" + "中等：" + paramaters[all_al].zhong + "</li>");
                $("#" + paramaters[all_al].info_name).append("<li>" + "良好：" + paramaters[all_al].liang + "</li>");
                $("#" + paramaters[all_al].info_name).append("<li>" + "优秀：" + paramaters[all_al].you + "</li>");
                for (var all_part in paramaters[all_al].fenshuduan){
                    $("#" + paramaters[all_al].info_name).append("<li>" + paramaters[all_al].fenshuduan[all_part][0] + "分~" + paramaters[all_al].fenshuduan[all_part][1] + "分：" + paramaters[all_al].fenshuduan[all_part][2] + "</li>");
                }
            }
        };

        function calgpa(){
            jidian_2 = new Array();
            count = 0;
            cal_suanshupj();
            jidian_2 = new Array();
            xuefen = new Array();
            count = 0;
            cal_jiaquanpj();
            xuefen = new Array();
            jidian_2 = new Array();
            count = 0;
            cal_jidianhe();
            cache_all();
            calgpa_main();
            $('#alertModal').modal('show');
        }
        function confirmdeldata(){
            window.location.href.substring(window.location.href.length - 17,window.location.href.length - 1)
            $.post("/deldata/",{thestr:window.location.href.substring(window.location.href.length - 17,window.location.href.length - 1)},function(result){
        result= eval ("(" + result + ")"); 
        if (result.result == 'ok'){
          location.href ="http://gpa.buaahelper.com/";
}
});
        }
        function deldata(){
            $('#alertModal2').modal('show');
        }
        function select_all(){
             $("table > tbody").children().each(function(){
                if (!$(this).children().last().children().prop("checked")){
                  $(this).children().last().children().prop("checked",true);
            }
            });
             if (!$("#go_ahead_xx").text().replace(/(^\s*)|(\s*$)/g, "").indexOf("去死") != -1){
            $("#go_ahead_xx").removeClass("btn-warning");
            $("#go_ahead_xx").addClass("btn-danger");
            $("#go_ahead_xx").text("去死吧！选修　(＃｀д´)ﾉ ");
            $("table > tbody").children().each(function(){
                if (!$(this).children().last().children().prop("checked")){
                    if ($(this).children().first().next().text().replace(/(^\s*)|(\s*$)/g, "").indexOf("选修") != -1) {
                        $(this).children().last().children().prop("checked",true);
                }
            }
            })
            }
        }
        function change_xx(){
            if ($("#go_ahead_xx").text().replace(/(^\s*)|(\s*$)/g, "").indexOf("去死") != -1){
            $("#go_ahead_xx").removeClass("btn-danger");
            $("#go_ahead_xx").addClass("btn-warning");
            $("#go_ahead_xx").text("快回来！选修　(≧σ≦)");
            $("table > tbody").children().each(function(){
                if ($(this).children().last().children().prop("checked")){
                    if ($(this).children().first().next().text().replace(/(^\s*)|(\s*$)/g, "").indexOf("选修") != -1) {
                        $(this).children().last().children().prop("checked", false);
                }
            }
            });}
            else{
            $("#go_ahead_xx").removeClass("btn-warning");
            $("#go_ahead_xx").addClass("btn-danger");
            $("#go_ahead_xx").text("去死吧！选修　(＃｀д´)ﾉ ");
            $("table > tbody").children().each(function(){
                if (!$(this).children().last().children().prop("checked")){
                    if ($(this).children().first().next().text().replace(/(^\s*)|(\s*$)/g, "").indexOf("选修") != -1) {
                        $(this).children().last().children().prop("checked", true);
                }
            }
            })
            }
        }
        function cal_jiaquanpj(){
            var chengji = new Array();
             $("table > tbody").children().each(function(){
                    if ($(this).children().last().children().prop("checked")){
                        if (isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))) {
                            var bukaoxuefen = 0;
                            var targetcourse = $(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "");
                            $("table > tbody").children().each(function(){
                                if ($(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "") == targetcourse && !isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))){
                                    bukaoxuefen = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));
                                }
                            })
                            xuefen[count] = bukaoxuefen;
                            }
                        else{
                    xuefen[count] = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));}
                    temp = $(this).children().first().next().next().next().text().replace(/(^\s*)|(\s*$)/g, "");
                    switch(temp){
                        case '通过':
                            chengji[count] = 70;
                            break;
                        case '不通过':
                            chengji[count] = 50;
                            break;
                        case '不及格':
                            chengji[count] = 50;
                            break;
                        case '中':
                        case '中等':
                            chengji[count] = 70;
                            break;
                        case '良':
                        case '良好':
                            chengji[count] = 80;
                            break;
                        case '优':
                        case '优秀':
                            chengji[count] = 90;
                            break;
                        case '及格':
                            chengji[count] = 60;
                            break;
                        default:
                            temp = parseFloat(temp);
                            chengji[count] = temp;
                    }
                    count += 1;
                }
                });
            fenzi = 0.0;
            fenmu = 0.0;
            for (i=0;i<count;i++){
                fenzi += chengji[i]*xuefen[i];
                fenmu += xuefen[i];
            }
            $("#jiaquanpj").text((fenzi/fenmu).toFixed(2));
        }
        function cal_suanshupj(){
            var chengji = new Array();
             $("table > tbody").children().each(function(){
                    if ($(this).children().last().children().prop("checked")){
                    temp = $(this).children().first().next().next().next().text().replace(/(^\s*)|(\s*$)/g, "").replace(/(^\s*)|(\s*$)/g, "");
                    switch(temp){
                        case '通过':
                            chengji[count] = 70;
                            break;
                        case '不通过':
                            chengji[count] = 50;
                            break;
                        case '不及格':
                            chengji[count] = 50;
                            break;
                        case '中':
                        case '中等':
                            chengji[count] = 70;
                            break;
                        case '良':
                        case '良好':
                            chengji[count] = 80;
                            break;
                        case '优':
                        case '优秀':
                            chengji[count] = 90;
                            break;
                        case '及格':
                            chengji[count] = 60;
                            break;
                        default:
                            temp = parseFloat(temp);
                            chengji[count] = temp;
                    }
                    count += 1;
                }
                });
            fenzi = 0.0;
            for (i=0;i<count;i++){
                fenzi += chengji[i];
            }
            $("#suanshupj").text((fenzi/count).toFixed(2));
        }
        function cal_jidianhe(){
            $("table > tbody").children().each(function(){
                    if ($(this).children().last().children().prop("checked")){
                        if (isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))) {
                            var bukaoxuefen = 0;
                            var targetcourse = $(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "");
                            $("table > tbody").children().each(function(){
                                if ($(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "") == targetcourse && !isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))){
                                    bukaoxuefen = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));
                                }
                            })
                            xuefen[count] = bukaoxuefen;
                            }
                        else{
                    xuefen[count] = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));}
                    temp = $(this).children().first().next().next().next().text().replace(/(^\s*)|(\s*$)/g, "");
                    switch(temp){
                        case '通过':
                            jidian_2[count] = 1.0;
                            break;
                        case '不通过':
                            jidian_2[count] = 0;
                            break;
                        case '不及格':
                            jidian_2[count] = 0;
                            break;
                        case '中':
                        case '中等':
                            jidian_2[count] = 1.1;
                            break;
                        case '良':
                        case '良好':
                            jidian_2[count] = 1.3;
                            break;
                        case '优':
                        case '优秀':
                            jidian_2[count] = 1.5;
                            break;
                        case '及格':
                            jidian_2[count] = 1.0;
                            break;
                        default:
                            temp = parseInt(temp);
                            if (temp<60)
                                jidian_2[count] = 0;
                            else if (temp >= 60 && temp<70)
                                jidian_2[count] = 1.0;
                            else if (temp >= 70 && temp<80)
                                jidian_2[count] = 1.1;
                            else if (temp >= 80 && temp<90)
                                jidian_2[count] = 1.3
                            else
                                jidian_2[count] = 1.5;
                    }
                    count += 1;
                }
                });
            fenzi = 0.0;
            for (i=0;i<count;i++){
                fenzi += xuefen[i]*jidian_2[i];
            }
            $("#jidianhe").text(fenzi.toFixed(2));
        }

        function cache_all(){
            count = 0;
            $("table > tbody").children().each(function(){
                        if (isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))) {
                            var bukaoxuefen = 0;
                            var targetcourse = $(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "");
                            $("table > tbody").children().each(function(){
                                if ($(this).children().first().text().replace(/(^\s*)|(\s*$)/g, "") == targetcourse && !isNaN(parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, "")))){
                                    bukaoxuefen = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));
                                }
                            })
                            all_xuefen[count] = bukaoxuefen;
                            }
                        else{
                    all_xuefen[count] = parseFloat($(this).children().first().next().next().text().replace(/(^\s*)|(\s*$)/g, ""));}
                    temp = $(this).children().first().next().next().next().text().replace(/(^\s*)|(\s*$)/g, "");
                    all_jidian[count] = temp;
                    count += 1;
                });
        }

        function calgpa_main(){
            for (var all_al in paramaters){
                xuefen = new Array();
                jidian = new Array();
                count = 0;
                count_all = 0;
                $("table > tbody").children().each(function(){
                    if ($(this).children().last().children().prop("checked")){
                        xuefen[count] = all_xuefen[count_all];
                        
                    temp = all_jidian[count_all];
                    switch(temp){
                        case '通过':
                            if (paramaters[all_al].whether_tongguo == 1){
                            jidian[count] = paramaters[all_al].tongguo;
                            }
                            else{
                                count -= 1;
                            }
                            break;
                        case '不通过':
                            if (paramaters[all_al].whether_tongguo == 1){
                            jidian[count] = paramaters[all_al].butongguo;
                            }
                            else{
                                count -= 1;
                            }
                            break;
                        case '不及格':
                            jidian[count] = paramaters[all_al].bujige;
                            break;
                        case '中':
                        case '中等':
                            jidian[count] = paramaters[all_al].zhong;
                            break;
                        case '良':
                        case '良好':
                            jidian[count] = paramaters[all_al].liang;
                            break;
                        case '优':
                        case '优秀':
                            jidian[count] = paramaters[all_al].you;
                            break;
                        case '及格':
                            jidian[count] = paramaters[all_al].jige;
                            break;
                        default:
                            temp = parseInt(temp);
                            for (var all_part in paramaters[all_al].fenshuduan){
                            if (temp >= paramaters[all_al].fenshuduan[all_part][0] && temp <= paramaters[all_al].fenshuduan[all_part][1])
                                jidian[count] = paramaters[all_al].fenshuduan[all_part][2];
                        }
                    }
                    count += 1;
                }
                count_all += 1;
                });
            fenzi = 0.0;
            fenmu = 0.0;
            for (i=0;i<count;i++){
                fenzi += xuefen[i]*jidian[i];
                fenmu += xuefen[i]; 
            }
            $("#" + paramaters[all_al].modal_name).text((fenzi/fenmu).toFixed(2));
            }
        }
        
            $(document).ready(function(){
                window.csrftoken = getCookie('csrftoken');
                generate_info()
                $("#al-info").on('click',function(){
                    $("#alertModal").modal("hide");
                    setTimeout("$('#al-info-modal').modal('show');", 500);
                })
            })
        </script>
        <header class="navbar navbar-inverse navbar-static-top navbar-gpa"  role="banner">
      <div class='container'>
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://buaahelper.com">BuaaHelper</a>
      </div>
      <nav  class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class='active'>
            <a href="http://gpa.buaahelper.com/">GPA</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
        <div class="container">
            <div class="row" style="margin-bottom:50px;">
               <div class="col-md-12">{{ thetable|safe }}</div>
               <p class="text-warning col-md-10 col-md-offset-1" >注意：由于新教务会将补考成绩单独显示，所以如果有补考科目，请取消勾选正考科目，只保留补考成绩。</p>
               <div class="col-md-12">
                <div class="row">
              <button id="go_ahead_xx" onclick="change_xx()" class="btn btn-danger btn-lg col-md-6 col-md-offset-3">去死吧！选修　(＃｀д´)ﾉ </button>
      </div>
      <br>
      <div class="row">
              <button onclick="select_all()" class="btn btn-info btn-lg col-md-6 col-md-offset-3">全选</button>
      </div>
      <br>
                   <div class="row">
               <button onclick="calgpa()" class="btn btn-primary btn-lg  col-md-4 col-md-offset-4">给我算</button>
                   </div>
                   <div class="row">
               <button onclick="deldata()" class="btn btn-danger btn-lg col-md-4 col-md-offset-4" style="margin-top:10px;">删除我的数据</button>
                   </div>
               </div>
            </div>
        </div>
        <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>
        Designed and built by <a href="mailto:buaa.liangjie@gmail.com">liangjie</a> and <a href="mailto:daishumaohehe@gmail.com">NatsuDawn</a> 
        </p>
      </div>
    </footer>
    <script src="/static/js/bootstrap.min.js"></script>

<div id="alertModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">计算结果</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
            <blockquote>欢迎关注我们的人人主页~了解我们的最新动态~
<a href="http://page.renren.com/601819187/channel-316125" target="_blank">屠龙宝刀点击就送</a><img src="http://buaabt.cn/editor/images/smilies/%E6%B4%8B%E8%91%B1%E5%A4%B4/%E6%B4%8B%E8%91%B1%E5%A4%B4(10).gif" alt=""></blockquote>
           <thead><tr><td>算法</td><td>GPA</td></tr></thead>
    <tbody>
    <tr><td>北航算法</td><td><span id="buaagpa"></span></td></tr>
    <tr><td>标准算法</td><td><span id="standgpa"></span></td></tr>
    <tr><td>北大算法</td><td><span id="beidagpa"></span></td></tr>
    <tr><td>科大算法</td><td><span id="kedagpa"></span></td></tr>
    <tr><td>上海交大算法</td><td><span id="jiaodagpa"></span></td></tr>
    <tr><td>改进4.0算法(1)</td><td><span id="gaijin1gpa"></span></td></tr>
    <tr><td>改进4.0算法(2)</td><td><span id="gaijin2gpa"></span></td></tr>
</tbody>

</table>
<p>绩点学分和：<span id="jidianhe"></span></p>
<p>算数平均分：<span id="suanshupj"></span></p>
<p>加权平均分：<span id="jiaquanpj"></span></p>
      </div>
      <div class="modal-footer">
        <button id="al-info" class="btn btn-info">算法详细介绍</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="alertModal2" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">确认删除</h4>
      </div>
      <div class="modal-body">
        <p>系统并不会记录您的个人信息，只会记录成绩，用于排名。您确定要删除您的数据吗？</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button onclick="confirmdeldata()" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="al-info-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">算法详细介绍</h4>
      </div>
      <div class="modal-body">
        北航算法：
            <ul id="info_buaa">
            </ul>
        <br>
        标准算法：
            <ul id="info_stand">
            </ul>
        <p class="text-warning">注意：因为标准算法没有明确说明“通过”以及“不通过”对应的学分，所以这里直接忽略了这两种情况。</p>
        <br>
        北大算法：
            <ul id="info_beida">
            </ul>
        <p class="text-warning">注意：北大算法没有明确说明“通过”以及“不通过”对应的学分，不过据我查到的信息，“通过”是可以自己决定的，所以这里按照4来算。</p>
        <br>
        科大算法：
            <ul id="info_keda">
            </ul>    
        <p class="text-warning">注意：科大算法没有明确说明“通过”以及“不通过”对应的学分，所以这里直接忽略了这两种情况。</p>
        <br>
        绩点学分和：
            <ul>
                <li>通过：1</li>
                <li>不通过：0</li>
                <li>不及格：0</li>
                <li>及格：1</li>
                <li>中等：1.1</li>
                <li>良好：1.3</li>
                <li>优秀：1.5</li>
                <li>&lt;60：0</li>
                <li>60(含)分~70分：1</li>
                <li>71(含)分~80分：1.1</li>
                <li>81(含)分~90分：1.3</li>
                <li>&gt;=90：1.5</li>
            </ul>
        <br>
        上海交大算法
            <ul id="info_jiaoda">
            </ul>
        <p class="text-warning">注意：上海交大算法忽略“通过”及“不通过”科目。</p>
        <br>
        改进4.0算法(1)
            <ul id="info_gaijin1">
            </ul>
        <p class="text-warning">注意：改进4.0算法(1)忽略“通过”及“不通过”科目。</p>
        <br>
        改进4.0算法(2)
            <ul id="info_gaijin2">
            </ul>
        <p class="text-warning">注意：改进4.0算法(2)忽略“通过”及“不通过”科目。</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">知道了</button>
      </div>
    </div>
  </div>
</div>
{% include 'advices.html' %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44643957-1', 'buaahelper.com');
  ga('send', 'pageview');

</script>

    </body>
    </html>